*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100vw;
  background-color: rgb(185, 185, 185);
}

/* navbar */
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: cornflowerblue;
  height: 70px;
}

.logo{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: orange;
  margin: 10px;
  padding: 8px;
  padding-bottom: 40px;
}

/* .nav-element{
  margin: 10px;
  padding: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
} */

.nav-element a{
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  color: black;
}

.nav-element:hover{
  cursor: pointer;
  border: 2px solid darkmagenta;
}

/* welcome heading */

.container{
  display: flex;
  align-self: center;
  justify-content: center;}

.heading1{
  align-items: center;    
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
  text-align: center;
  border: 4px solid darkmagenta;
  background-color: ivory;
  border-radius: 5px;
  color: black;
  margin: 20px;
  padding: 10px;
}

/* row */

.row{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

/* row heading */

.row-heading{
  text-align: center;
  align-content: center;

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 25px;
  font-weight: 700;
  height: 50px;
  width: 200px;

  background-color: ivory;
  border: 1px solid black;
}

/* row elements */

.row-element{
  text-align: center;
  align-content: center;

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  height: 50px;
  width: 200px;

  background-color: ivory;
  border: 1px solid black;
}

.l-align
{
  text-align: left;
}

.table-btn{
  margin:  10px;
  border-radius: 3px;
  font-size: 20px;

}

.b1{
  background-color: lightgreen;
}

.b1:hover{
  background-color: green;
}

.b2{
  background-color: red;
  color: wheat;
}

.b2:hover{
  background-color: rgb(255, 72, 72);
  color: black;
}

.b3{
  height: 20px;
  width: 20px;
  text-align: center;
  background-color: darkgreen;
  color:aliceblue;
}

.b3:hover{
  background-color:lightgreen;
  color: black;
}

/* inputs */

.input-box{
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  font-size: 20px;
  margin-left: 500px;
  margin-right: 500px;
  padding: 10px;
  margin-top: 30px;
  background-color:lightgreen;
  border-radius: 2px;
  border: 1px solid darkslateblue;
}

.input{
  margin: 10px;
  font-size: 20px;
}

.btn-box{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin: 20px;
}

.btn-group
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}

.btn-1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  padding: 5px;
  border-radius: 10px;
  background-color: beige;
}

.btn-1:hover{
  background-color: darkslategray;
  color: wheat;
}

.small-btn
{
  margin: 4px;
  padding: 2px;
  background-color:antiquewhite;
}

.small-btn:hover
{
  background-color:lightblue;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
